/********** Common **********/
body {
    overflow: hidden;
   /* background: #28254C;*/
    scroll-behavior: smooth;

}

h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

img {
    border-radius: 1vh;
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 6rem 2rem;
    }
}

@media (max-width: 576px) {
    .jumbotron {
        padding: 0rem 2rem 6rem 2rem;
    }
}

.btn {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: 0.3s ease-in-out !important;
    text-decoration: none
}

.btn:hover {
    transform: translateY(+5px);
}

.btn-download {
    color: black;
    background-color: #EC5252;
}

.btn-download:hover {
    color: #ffffff;
    background: #6E1952;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-github {
    color: white;
    background: #6E1952;
}

.btn-github:hover {
    color: black;
    background: #EC5252;
    border-color: #6E1952;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-docs {
    background: #192440;
    color: #ffffff;
}

.btn-docs:hover {
    color: #121a2e;
    background: #ffffff;
}

/***** Parallax effect *****/
.parallax {
    perspective: 2px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-content-layer {
    background: white;
    transform-style: preserve-3d;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 20px 10px;
}

.parallax-background-image {
    transform-origin: center;
    height: 300px;
}

.parallax-background-image>.image-receiver {
    min-height: 560px;
    min-width: 100%;
    position: relative;
    background-image: url("../images/bg3.png");
    background-size: cover;
    background-position: center;
}

.glare {
    white-space: nowrap;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: -webkit-radial-gradient(white, black);
}

.glare:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 100px;
    background: #fff;
    bottom: -25px;
    left: 0;
    border: 2px solid #fff;
    transform: translateX(-50px) rotate(45deg);
    transition: transform 0.6s ease;
}

.glare:hover:before {
    transform: translateX(250px) rotate(45deg);
}

#banner {
    transform: translateZ(-0.3px) scale(1.3);
    transform-origin: bottom;
    background-color: transparent;
}

/********** Banner **********/
#banner {
    background-size: cover;
}

#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 80px;
}

/********** Information **********/
.info img {
    width: 100%;
    max-width: 480px;
}

#info {
    background: linear-gradient(168deg, #ffffff calc(50% - 2px), #1ba1e2 50%);
}

/********** Copyright **********/
#copyright {
    background: #192440;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: 0.4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #a461f1;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 2rem;
    }
}